h1, h2, h3, h4, h5, h6 {
  color: #f9f9f9; }


  #top-panel td > a {
    background: url("http://antengo.com/p/assets/images/global/antengo_logo.png") 0 0 no-repeat;
    display: block;
    width: 130px;
    height: 40px;
    margin: 10px 0 10px 10px; 
  }
